    .scrollbar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--blue);
        width: 0%;
        height: 3px;
        z-index: 99;
        transition: width 0.2s ease-out;
    }


.header_container {
    display: block;
    border-bottom: var(--grey-text) solid 3px;
    background-color: var(--white);
    position: fixed;
    width: var(--full-width);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    margin: 0;
    z-index: 10;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0.2rem 0;
        position: relative;

        .title {
            color: var(--blue);
            font-family: var(--font-title);
            font-weight: 300;
            padding: 0.5rem 1rem;
        }
    }
    .menu_header {
        border: none;
        position: absolute;
        top: 15px;
        right: 0;
        color: var(--blue);
        cursor: pointer;
        width: 25px;
        margin-right: 20px;
    }

    .burger_btn {
        content: url("../assets/icons/bars-1.svg");
    }

    .close_btn {
        content: url("../assets/icons/close_menu.png");
        width: 18px;
    }

    .nav_links_hidden {
        display: none;
    }

    .close_btn {
        content: url("../assets/icons/close_menu.png");
    }

    .nav_links {
        margin: 20px 20px;
        background-color: var(--white);
        width: var(--full-width);
        line-height: 2rem;
        height: 130px;
        padding-top: 10px;

        .links {
            list-style: none;

            .link {
                & :hover {
                    color: var(--black) !important;
                    font-weight: 800;
                    cursor: pointer;
                }
                a {
                    font-family: var(--font-text);
                    font-weight: 700;
                    text-decoration: none;
                    color: var(--grey-text);
                    font-size: 11px;
                    line-height: 20px;
                    letter-spacing: 3.28px;
                    margin: 10px 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .header_container {
        width: var(--full-width);
        display: flex;
        justify-content: space-between;

        .menu_header {
            display: none;
        }

        .nav_links {
            display: block;
            width: fit-content;
            align-self: center;
            margin: 0;
            height: 55px;
            .links {
                display: flex;
                flex-direction: row;
                margin: 0 2rem;
                height: 100%;

                .link {
                    margin: 0 30px;
                }
            }
        }
    }

    //Hover effect in navbar
    .link:hover {
        border-bottom: var(--blue) solid 3px;
        cursor: pointer;
        & a {
            color: var(--black) !important;
        }
    }
}
