.pricing_container {
    display: block;

    .title {
        font-family: var(--font-title);
        font-weight: 400;
        text-align: center;
        font-size: 36px;
        margin: 50px 0 20px 0;
    }
    .exchange_container {
        display: flex;
        width: 100%;
        justify-content: center;
        .exchange_pricing {
            margin:auto;
            font-family: var(--font-text);
            border: 1px solid var(--blue);
        }
    }

    .cards_container {
        margin: 20px auto;

        .card_pricing {
            display: flex;
            align-items: center;
            border: 1px solid black;
            height: 251px;
            width: 293px;
            left: 0px;
            top: 0px;
            border-radius: 18px;
            margin: 30px auto 50px auto;

            .pricing_container_title {
                width: 50%;
                text-align: center;
                h2 {
                    font-family: var(--font-title);
                    font-weight: 800;
                }
                p {
                    font-family: var(--font-text);
                    font-style: normal;
                    font-weight: 300;
                    font-size: 46px;
                    line-height: 64px;
                }
                .offer {
                    font-size: 12px;
                    font-weight: 700;
                    margin-top: -20px;
                }
            }
            .pricing_detail {
                height: 70%;
                position: relative;
                ul {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    li {
                        list-style: none;
                        p {
                            font-family: var(--font-text);
                            color: var(--black);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            align-items: center;
                            img {
                                margin-right: 8px;
                            }
                        }
                    }
                }
                .btn_pricing {
                    position: absolute;
                    width: 150px;
                    height: 50px;
                    border-radius: 23px;
                    border: none;
                    right: 45%;
                    bottom: -35%;
                    font-family: var(--font-text);
                    color: var(--white);
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
        #basic {
            border-color: var(--red);
            .amount {
                color: var(--red);
            }
            &:hover {
                box-shadow: 5px 10px 27px var(--red-hover);
                height: 277px;
                width: 339px;
                transition: 0.15s ease-in-out;
            }
            .btn_pricing {
                background-color: var(--red-shadow);
            }
        }
        #professional {
            border-color: var(--blue);
            .amount {
                color: var(--blue);
            }
            &:hover {
                box-shadow: 5px 10px 27px var(--blue-hover);
                height: 277px;
                width: 339px;
                transition: 0.15s ease-in-out;
            }
            .btn_pricing {
                background-color: var(--blue);
            }
        }
        #premium {
            border-color: var(--green);
            .amount {
                color: var(--green);
            }
            &:hover {
                box-shadow: 5px 10px 27px var(--green-hover);
                height: 277px;
                width: 339px;
                transition: 0.15s ease-in-out;
            }
            .btn_pricing {
                background-color: var(--green-shadow);
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .cards_container {
        display: flex;
        justify-content: space-between;
    }
    #basic,
    #professional,
    #premium {
        display: block;
        height: 461px;
        width: 30%;
        margin: inherit 20px inherit 20px;
        .pricing_container_title {
            height: 30%;
            margin: 50px auto 30px auto;
        }
        .pricing_detail {
            height: 40%;
            text-align: center;
            .btn_pricing {
                right: 30%;
                bottom: -45%;
            }
        }
        &:hover {
            height: 500px !important;
            width: 405px !important;
        }
    }
}

@media only screen and (min-width: 1150px) {
    #basic,
    #professional,
    #premium {
        width: 372px;
    }
}
