* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: var(--white);
}

.return_top_container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 10px;
  border: 2px solid var(--blue);
  visibility: visible;
  opacity: 0.7;
}
.return_top_container .return_top {
  position: fixed;
  bottom: 32px;
  left: 32px;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

:root {
  --font-text: "Open Sans", sans-serif;
  --font-title: "Raleway", sans-serif;
  --blue: #08A6E4;
  --blue-hover: #078fc5;
  --blue-shadow: #07ace64a;
  --red: #FB3B64;
  --red-hover: #fa1e4e;
  --red-shadow: #eb476e;
  --green: #55DFB4;
  --green-hover: #29d69f;
  --green-shadow: #55dfb4;
  --white: #FFFFFF;
  --black:#111111;
  --grey-text: #A5A5A5;
  --grey-border: #E8E9ED;
  --grey-background: #F7F7F7;
  --grey-input-bottom: #95989A;
  --grey-check: #707070;
  --full-width: 100%;
}

.scrollbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--blue);
  width: 0%;
  height: 3px;
  z-index: 99;
  transition: width 0.2s ease-out;
}

.header_container {
  display: block;
  border-bottom: var(--grey-text) solid 3px;
  background-color: var(--white);
  position: fixed;
  width: var(--full-width);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  margin: 0;
  z-index: 10;
}
.header_container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.2rem 0;
  position: relative;
}
.header_container .header .title {
  color: var(--blue);
  font-family: var(--font-title);
  font-weight: 300;
  padding: 0.5rem 1rem;
}
.header_container .menu_header {
  border: none;
  position: absolute;
  top: 15px;
  right: 0;
  color: var(--blue);
  cursor: pointer;
  width: 25px;
  margin-right: 20px;
}
.header_container .burger_btn {
  content: url("../assets/icons/bars-1.svg");
}
.header_container .close_btn {
  content: url("../assets/icons/close_menu.png");
  width: 18px;
}
.header_container .nav_links_hidden {
  display: none;
}
.header_container .close_btn {
  content: url("../assets/icons/close_menu.png");
}
.header_container .nav_links {
  margin: 20px 20px;
  background-color: var(--white);
  width: var(--full-width);
  line-height: 2rem;
  height: 130px;
  padding-top: 10px;
}
.header_container .nav_links .links {
  list-style: none;
}
.header_container .nav_links .links .link :hover {
  color: var(--black) !important;
  font-weight: 800;
  cursor: pointer;
}
.header_container .nav_links .links .link a {
  font-family: var(--font-text);
  font-weight: 700;
  text-decoration: none;
  color: var(--grey-text);
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 3.28px;
  margin: 10px 0;
}

@media only screen and (min-width: 1000px) {
  .header_container {
    width: var(--full-width);
    display: flex;
    justify-content: space-between;
  }
  .header_container .menu_header {
    display: none;
  }
  .header_container .nav_links {
    display: block;
    width: fit-content;
    align-self: center;
    margin: 0;
    height: 55px;
  }
  .header_container .nav_links .links {
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    height: 100%;
  }
  .header_container .nav_links .links .link {
    margin: 0 30px;
  }
  .link:hover {
    border-bottom: var(--blue) solid 3px;
    cursor: pointer;
  }
  .link:hover a {
    color: var(--black) !important;
  }
}
.whyus_container {
  display: block;
  position: relative;
  top: 10rem;
}
.whyus_container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.whyus_container .header .title {
  font-family: var(--font-title);
  font-weight: 500;
  margin: 0;
  font-size: 35px;
}
.whyus_container .header .description {
  font-family: var(--font-text);
  font-weight: 400;
  margin: 1rem 0;
  font-size: 16px;
}
.whyus_container .header .header_btn_container {
  width: 100%;
}
.whyus_container .header .header_btn_container .btn_shop {
  margin-top: 20px;
  width: 80%;
  max-width: 440px;
  height: 3rem;
  background: var(--blue);
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  border: none;
  font-family: var(--font-text);
  color: var(--white);
}
.whyus_container .whyus_img_container {
  overflow: hidden;
}
.whyus_container .whyus_img_container .whyus_img {
  height: inherit;
  width: 190%;
  object-fit: contain;
  margin-left: 50%;
  transform: translateX(-50%);
}
.whyus_container .platform_description {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 30px;
  margin: 0.5rem 0;
  text-align: center;
  padding: 0 3rem;
}
.whyus_container .platform_cards_container {
  align-self: center;
}
.whyus_container .platform_cards_container .platform_card {
  display: block;
  margin: 30px auto;
  height: fit-content;
}
.whyus_container .platform_cards_container .card1 {
  content: url("../assets/images/Card1.png");
}
.whyus_container .platform_cards_container .card2 {
  content: url("../assets/images/Card2.png");
}
.whyus_container .platform_cards_container .card3 {
  content: url("../assets/images/Card3.png");
  padding-bottom: 3rem;
}

@media only screen and (min-width: 1000px) {
  .whyus_img_container {
    height: 30rem;
  }
  .platform_cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.benefits_container {
  background-color: var(--grey-background);
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.benefits_container .card_benefit {
  margin: 30px 20px;
  background-color: var(--white);
  border: 1px solid var(--grey-border);
  border-radius: 5px;
  align-self: center;
}
.benefits_container .card_benefit .images_container {
  display: flex;
  position: relative;
  width: 20rem;
  margin: 30px auto;
  justify-content: center;
}
.benefits_container .card_benefit .images_container .main {
  width: 15rem;
  z-index: 1;
  margin-top: 10%;
}
.benefits_container .card_benefit .images_container .background_red {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  left: 65%;
  background: var(--red);
  border-radius: 41px;
  transform: rotate(-45deg);
}
.benefits_container .card_benefit .images_container .background_blue {
  position: absolute;
  width: 65%;
  height: 90%;
  left: 10%;
  background: var(--blue);
  border-radius: 50%;
}
.benefits_container .card_benefit .card_description {
  margin: 20px;
}
.benefits_container .card_benefit .card_description .title {
  font-family: var(--font-title);
  margin: 10px;
  line-height: 35px;
}
.benefits_container .card_benefit .card_description .text {
  font-family: var(--font-text);
  margin: 40px 10px 20px 10px;
  line-height: 21px;
}
.benefits_container .card_benefit .card_description .bottom_line_red,
.benefits_container .card_benefit .card_description .bottom_line_blue,
.benefits_container .card_benefit .card_description .bottom_line_green {
  display: none;
}
.benefits_container #card_3 .images_container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 25rem;
  height: 15rem;
  margin: 0 auto 0 auto;
  justify-content: center;
}
.benefits_container #card_3 .images_container .main {
  margin: 50px 30px 30px 30px;
  position: absolute;
}
.benefits_container #card_3 .images_container .background_green {
  background: var(--green);
  border: 1px solid var(--grey-border);
  border-radius: 5px;
  display: block;
  min-width: 70%;
}

@media only screen and (min-width: 1000px) {
  .benefits_container {
    display: flex;
    justify-content: center;
  }
  .card_benefit {
    width: 70%;
  }
  #card_1 {
    display: flex;
    flex-direction: row-reverse;
  }
  #card_1 .images_container .main {
    width: -webkit-fill-available;
  }
  #card_1 .images_container .background_red {
    width: 40%;
    height: 60%;
    left: 65%;
  }
  #card_1 .images_container .background_blue {
    height: 80%;
  }
  #card_1 .card_description {
    width: 30%;
  }
  #card_1 .card_description .bottom_line_red {
    display: block;
    width: 70%;
    background-color: var(--red);
    height: 2px;
    margin-left: 10px;
    border: none;
  }
  #card_2 {
    display: flex;
    flex-direction: row;
  }
  #card_2 .images_container {
    margin-left: 10px;
  }
  #card_2 .images_container .main {
    width: -webkit-fill-available;
  }
  #card_2 .images_container .background_blue {
    height: 80%;
  }
  #card_2 .card_description {
    width: 50%;
    align-self: center;
    margin: 30px 0;
  }
  #card_2 .card_description .bottom_line_blue {
    display: block;
    width: 75%;
    background-color: var(--blue);
    height: 2px;
    margin-left: 10px;
    margin-top: 50px;
    border: none;
  }
  #card_3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--grey-background);
    border: none;
  }
  #card_3 .card_description {
    width: 40rem;
    background-color: var(--white);
    margin: 0;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--grey-border);
    border-radius: 5px;
  }
  #card_3 .card_description .text {
    margin-top: 2%;
    margin-bottom: 0;
  }
  #card_3 .card_description .bottom_line_green {
    display: block;
    width: 70%;
    background-color: var(--green);
    height: 2px;
    margin-left: 10px;
    margin-top: 5%;
    border: none;
  }
  #card_3 .images_container {
    height: 15rem;
  }
  #card_3 .images_container .background_green {
    width: var(--full-width) !important;
  }
}
@media only screen and (max-width: 700px) {
  .images_container {
    width: var(--full-width);
  }
  .images_container .background_red {
    width: 40%;
    left: 5rem;
  }
}
@media only screen and (max-width: 460px) {
  #card_3 .images_container .background_green {
    width: var(--full-width) !important;
  }
}
@media only screen and (max-width: 390px) {
  .images_container {
    width: var(--full-width) !important;
    justify-content: flex-start;
  }
  .images_container .main {
    margin: 10px;
  }
  .images_container .background_red {
    width: 3rem;
    height: 3rem;
  }
  .images_container .background_blue {
    height: 80% !important;
  }
}
.pricing_container {
  display: block;
}
.pricing_container .title {
  font-family: var(--font-title);
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  margin: 50px 0 20px 0;
}
.pricing_container .exchange_container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.pricing_container .exchange_container .exchange_pricing {
  margin: auto;
  font-family: var(--font-text);
  border: 1px solid var(--blue);
}
.pricing_container .cards_container {
  margin: 20px auto;
}
.pricing_container .cards_container .card_pricing {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 251px;
  width: 293px;
  left: 0px;
  top: 0px;
  border-radius: 18px;
  margin: 30px auto 50px auto;
}
.pricing_container .cards_container .card_pricing .pricing_container_title {
  width: 50%;
  text-align: center;
}
.pricing_container .cards_container .card_pricing .pricing_container_title h2 {
  font-family: var(--font-title);
  font-weight: 800;
}
.pricing_container .cards_container .card_pricing .pricing_container_title p {
  font-family: var(--font-text);
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
}
.pricing_container .cards_container .card_pricing .pricing_container_title .offer {
  font-size: 12px;
  font-weight: 700;
  margin-top: -20px;
}
.pricing_container .cards_container .card_pricing .pricing_detail {
  height: 70%;
  position: relative;
}
.pricing_container .cards_container .card_pricing .pricing_detail ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pricing_container .cards_container .card_pricing .pricing_detail ul li {
  list-style: none;
}
.pricing_container .cards_container .card_pricing .pricing_detail ul li p {
  font-family: var(--font-text);
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
}
.pricing_container .cards_container .card_pricing .pricing_detail ul li p img {
  margin-right: 8px;
}
.pricing_container .cards_container .card_pricing .pricing_detail .btn_pricing {
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  right: 45%;
  bottom: -35%;
  font-family: var(--font-text);
  color: var(--white);
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}
.pricing_container .cards_container #basic {
  border-color: var(--red);
}
.pricing_container .cards_container #basic .amount {
  color: var(--red);
}
.pricing_container .cards_container #basic:hover {
  box-shadow: 5px 10px 27px var(--red-hover);
  height: 277px;
  width: 339px;
  transition: 0.15s ease-in-out;
}
.pricing_container .cards_container #basic .btn_pricing {
  background-color: var(--red-shadow);
}
.pricing_container .cards_container #professional {
  border-color: var(--blue);
}
.pricing_container .cards_container #professional .amount {
  color: var(--blue);
}
.pricing_container .cards_container #professional:hover {
  box-shadow: 5px 10px 27px var(--blue-hover);
  height: 277px;
  width: 339px;
  transition: 0.15s ease-in-out;
}
.pricing_container .cards_container #professional .btn_pricing {
  background-color: var(--blue);
}
.pricing_container .cards_container #premium {
  border-color: var(--green);
}
.pricing_container .cards_container #premium .amount {
  color: var(--green);
}
.pricing_container .cards_container #premium:hover {
  box-shadow: 5px 10px 27px var(--green-hover);
  height: 277px;
  width: 339px;
  transition: 0.15s ease-in-out;
}
.pricing_container .cards_container #premium .btn_pricing {
  background-color: var(--green-shadow);
}

@media only screen and (min-width: 1000px) {
  .cards_container {
    display: flex;
    justify-content: space-between;
  }
  #basic,
#professional,
#premium {
    display: block;
    height: 461px;
    width: 30%;
    margin: inherit 20px inherit 20px;
  }
  #basic .pricing_container_title,
#professional .pricing_container_title,
#premium .pricing_container_title {
    height: 30%;
    margin: 50px auto 30px auto;
  }
  #basic .pricing_detail,
#professional .pricing_detail,
#premium .pricing_detail {
    height: 40%;
    text-align: center;
  }
  #basic .pricing_detail .btn_pricing,
#professional .pricing_detail .btn_pricing,
#premium .pricing_detail .btn_pricing {
    right: 30%;
    bottom: -45%;
  }
  #basic:hover,
#professional:hover,
#premium:hover {
    height: 500px !important;
    width: 405px !important;
  }
}
@media only screen and (min-width: 1150px) {
  #basic,
#professional,
#premium {
    width: 372px;
  }
}
.contact_container {
  padding-left: 20px;
}
.contact_container .header {
  font-family: var(--font-text);
  font-size: 16px;
}
.contact_container .header .title {
  font-family: var(--font-title);
}
.contact_container .header .title h2 {
  font-size: 40px;
}
.contact_container .header .contact_info {
  color: var(--grey-text);
  margin: 30px 0;
}
.contact_container .header .contact_info p {
  margin: 10px 0;
}
.contact_container .header .contact_info p i {
  color: var(--blue);
}
.contact_container .header .contact_info p .fa-phone {
  transform: rotate(90deg);
}
.contact_container .form_container {
  margin: 40px 0;
  max-width: 600px;
}
.contact_container .form_container .label {
  font-family: var(--font-text);
  color: var(--blue);
  font-size: 11px;
}
.contact_container .form_container .input_text {
  width: 95%;
  border: none;
  border-bottom: 1px solid var(--grey-input-bottom);
  margin-top: 10px;
  height: 30px;
  padding: 5px;
}
.contact_container .form_container .input_text:focus-visible {
  outline: none;
}
.contact_container .form_container .error_message_input {
  visibility: hidden;
  font-family: var(--font-text);
  font-size: 12px;
  width: 95%;
  text-align: end;
  margin-bottom: 15px;
  margin-top: 5px;
  color: var(--red);
}
.contact_container .form_container .error {
  border: 2px solid red;
  border-radius: 10px;
}
.contact_container .form_container .correct {
  border-bottom: 2px solid var(--green);
}
.contact_container .form_container .policy {
  margin: 20px 20px 20px 0;
  display: flex;
}
.contact_container .form_container .policy .checkbox {
  margin-top: 5px;
  margin-right: 10px;
  padding-top: 5px;
  align-self: flex-start;
}
.contact_container .form_container .policy label {
  font-family: var(--font-text);
  font-size: 12px;
  color: var(--grey-check);
}
.contact_container .form_container .policy .not_checked {
  color: var(--red);
}
.contact_container .form_container .submit_container {
  display: flex;
  justify-content: end;
  max-width: 600px;
  margin-right: 20px;
}
.contact_container .form_container .submit_container .submit_button {
  background-color: var(--blue);
  box-shadow: 5px 10px 14px var(--blue-shadow);
  border-radius: 35px;
  border: none;
  color: var(--white);
  width: 226px;
  height: 57px;
}

@media only screen and (min-width: 1000px) {
  .contact_container {
    display: flex;
    justify-content: center;
  }
  .contact_container .header {
    width: 30%;
  }
  .contact_container .form_container {
    margin-top: 0;
    width: 40%;
  }
  .contact_container .form_container .input_text {
    margin-bottom: 5px;
  }
  .contact_container .form_container .error_message_input {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .contact_container {
    margin-left: 25%;
  }
  .contact_container .form_container {
    width: 70%;
  }
}
.main_container_modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.7);
}
.main_container_modal .modal {
  width: 60%;
  top: 10px;
  left: 20%;
  padding: 40px;
  background-color: var(--white);
  text-align: center;
  position: relative;
}
.main_container_modal .modal .close_btn_modal {
  background-color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 3px;
  color: var(--blue);
  position: absolute;
  top: 20px;
  right: 20px;
}
.main_container_modal .modal .close_btn_modal img {
  padding-top: 2px;
}
.main_container_modal .modal .close_btn_modal:hover {
  box-shadow: 0px 0px 10px var(--blue-shadow);
  cursor: pointer;
}
.main_container_modal .modal .form_modal h3 {
  font-family: var(--font-title);
  font-size: 30px;
}
.main_container_modal .modal .form_modal p {
  font-family: var(--font-text);
  font-size: 20px;
  margin: 30px;
}
.main_container_modal .modal .form_modal .input_newsletter {
  font-family: var(--font-text);
  width: 50%;
  border: none;
  border-bottom: 1px solid var(--grey-input-bottom);
  margin-bottom: 10px;
  height: 30px;
  padding: 5px;
}
.main_container_modal .modal .form_modal .input_newsletter:focus-visible {
  outline: none;
}
.main_container_modal .modal .form_modal .error {
  border: 2px solid red;
  border-radius: 10px;
}
.main_container_modal .modal .form_modal .correct {
  border-bottom: 2px solid var(--green);
}
.main_container_modal .modal .form_modal .submit_newsletter {
  background-color: var(--blue);
  box-shadow: 5px 10px 14px var(--blue-shadow);
  border-radius: 35px;
  border: none;
  color: var(--white);
  width: 100px;
  height: 50px;
  font-family: var(--font-text);
  font-size: 15px;
  cursor: pointer;
}
.main_container_modal .modal .form_modal .submit_newsletter:hover {
  background-color: var(--white);
  color: var(--blue);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
footer .title {
  margin-right: 10px;
}
footer .title h1 {
  font-family: var(--font-title);
  font-size: 26px;
  color: var(--blue);
  font-weight: 100;
}
footer .title p {
  font-family: var(--font-text);
  font-size: 11px;
  color: var(--grey-text);
}
footer .social_media {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
}
footer .social_media img {
  margin: 0 10px;
}

@media only screen and (min-width: 800px) {
  footer {
    padding: 20px 20%;
  }
}/*# sourceMappingURL=styles.css.map */