:root {
    //Fonts
    --font-text: 'Open Sans', sans-serif;
    --font-title: 'Raleway', sans-serif;

    //Colors
    --blue: #08A6E4;
    --blue-hover: #078fc5;
    --blue-shadow: #07ace64a;
    --red: #FB3B64;
    --red-hover: #fa1e4e;
    --red-shadow: #eb476e;
    --green: #55DFB4;
    --green-hover: #29d69f;
    --green-shadow: #55dfb4;
    --white: #FFFFFF;
    --black:#111111;
    --grey-text: #A5A5A5;
    --grey-border: #E8E9ED;
    --grey-background: #F7F7F7;
    --grey-input-bottom: #95989A;
    --grey-check: #707070;

    //Sizes
    --full-width: 100%;
}